export("getHdf")
export("getTile")
export("getProduct")
export("getCollection")
export("getSds")
export("getXml")
export("transDate")
export("arcStats")

export("runGdal")
export("runMrt")

export("genTile")
export("search4map")
export("orgStruc")
export("delHdf")
export("file.size")

exportPattern(".+WS$")




